.paginate_row {
    justify-self: flex-end;
    display: flex;
    align-items: center;
}
@media screen and (max-width: 576px) {
    .paginate_row {
        flex-direction: column;
    }
}

.paginate {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 576px) {
    .paginate {
        margin-bottom: 20px;
    }
}

.page {
    width: 40px;
    height: 40px;
    border: 2px darkseagreen solid;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 2px;
    transition: all .2s;
}
@media screen and (min-width: 1200px) {
    .page:not(.active):hover {
        background: #8fbc8f40;
        cursor: pointer;
    }
}

.page.active {
    background: darkseagreen;
    color: #ffffff;
}

.selection {
    display: flex;
    align-items: center;
    flex-direction: column;
}

select {
    background: darkseagreen;
    border: 2px solid darkolivegreen;
    border-radius: 5px;
    width: 100px;
    padding: 5px;
    font-size: 14px;
    color: #ffffff;
}
@media screen and (min-width: 1200px) {
    select:hover {
        cursor: pointer;
    }
}
